@import "tailwindcss";

/* Indicar a Tailwind v4 que la variante dark: se activa con la clase .dark */
@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  /* Transición global para el cambio de tema */
  *, *::before, *::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
}

@theme {
  --color-brand-primary: #0D7A78;
  --color-brand-accent: #D03B13;
  --color-brand-dark: #121417;
}

/* Modo Claro Amigable con la Vista */
:root {
  --bg-main: #F3F4F6;
  --bg-card: #FFFFFF;
  --text-main: #111827;
  --text-muted: #4B5563;
  --border-color: #D1D5DB;
  
  /* Colores cian/celeste totalmente legibles en claro */
  --badge-bg: #E6F4F4;
  --badge-text: #08605F;
  --badge-border: #99D5D3;
  --cyan-link: #075958;
}

/* Modo Oscuro */
html.dark {
  --bg-main: #0F1115;
  --bg-card: #1B1E24;
  --text-main: #F9FAFB;
  --text-muted: #9CA3AF;
  --border-color: #374151;

  /* Colores cian/celeste neón para fondo oscuro */
  --badge-bg: rgba(43, 207, 206, 0.15);
  --badge-text: #2BCFCE;
  --badge-border: rgba(43, 207, 206, 0.3);
  --cyan-link: #2BCFCE;
}